body {
  font-family: sans-serif;
  background: #05B25A;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
#game {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 2px 16px #ccc;
  font-size: 1.5em;
}

/* Add this for larger problem numbers: */
.problem {
  font-size: 1.5em;
  margin: 0 0.3em;
}
.banner { margin-top: 2em; }
input.answer {
  width: 60px;
  font-size: 1.5em;
  text-align: center;
}
.left, .correct { margin-right: 1em; font-size: 1.2em; }
.end { text-align: center; }
