body {
  font-family: sans-serif;
  background: #05B25A;
  margin: 2em;
}
#game {
  background: #fff;
  padding: 2em;
  max-width: 400px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 2px 16px #ccc;
}
.banner { margin-top: 2em; }
input.answer {
  width: 60px;
  font-size: 1.5em;
  text-align: center;
}
.left, .correct { margin-right: 1em; font-size: 1.2em; }
.end { text-align: center; }
